config setup
  charondebug="ike 3, knl 1, cfg 3"
  # charondebug="cfg 4, dmn 4, ike 4, net 4"
  uniqueids=replace

conn gateway-to-server
  auto=add
  compress=no
  type=tunnel
  keyexchange=ikev2
  fragmentation=yes
  forceencaps=yes
  dpdaction=clear
  dpddelay=30s
  dpdtimeout=180s
  rekey=yes
  authby=secret
  ike=aes256gcm12-sha256-modp4096,aes128gcm12-sha256-modp4096!
  esp=aes256gcm12-sha256,aes128gcm12-sha256!
  left=%any
  leftid=@gateway
  leftsubnet=0.0.0.0/0
  leftsourceip=10.8.0.1
  right=%any
  rightid=@server
  rightsourceip=10.8.0.2/32
  mobike=no
